{% extends "accounting/real-estate-menu-item.html" %}

{% block real_estate_tab_content %}
{% if accounts %}
    <h2>Лицевые счета</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Владельцы</th>
                <th>Баланс</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{% url "accounting:account" real_estate_id account.id %}">{{ account.owners }}</a></td>
                <td>{{ account.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ни один лицевой счёт ни связан с недвижимостью.</p>
{% endif %}
<a class="btn btn-primary btn-default" role="button" href="{% url "accounting:create_account" real_estate_id %}">Create</a>
{% endblock %}