{% extends "subscriber-page.html" %}

{% block subscriber_tab_content %}
  <ul class="nav nav-pills">
    {% url 'accounting:accounts' as l2accounts %}
    {% url 'accounting:add_payment' as l2addpayment %}
    <li{% if request.path == l2accounts or request.path == l2addpayment %} role="presentation" class="active"{% endif %}><a href="{% url 'accounting:accounts' %}?real_estate={{real_estate.id}}">Операции со счётом</a></li>
    {% url 'accounting:readings' as l2readings %}
    {% if is_there_counter %}
    <li{% if request.path == l2readings %} role="presentation" class="active"{% endif %}><a href="{% url 'accounting:readings' %}?real_estate={{real_estate.id}}">Показания счётчиков</a></li>
    {% endif %}
  </ul>
  <br>

  {% load crispy_forms_tags %}
  {% crispy form %}

{% endblock %}
