{% extends "accounting/real-estate-menu-item.html" %}

{% block real_estate_tab_content %}
{% if readings %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Период</th>
                <th>Показание</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
        {% for reading in readings %}
            <tr>
                <td><a href="{% url "accounting:update_reading" real_estate_id reading.id %}">{{ reading.period }}</a></td>
                <td>{{ reading.value }}</td>
                <td>{{ reading.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Показания не внесены.</p>
{% endif %}
    <a class="btn btn-primary btn-default" role="button" href="{% url "accounting:create_reading" real_estate_id %}">Внести</a>
{% endblock %}