{% extends "subscriber-page.html" %}

{% block subscriber_tab_content %}
  {% if real_estate %}
    {% if readings %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Счётчик</th>
            <th>Дата</th>
            <th>Период</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
        {% for reading in readings %}
          <tr>
            <td>{{reading.service_name}}</td>
            <td>{{reading.date}}</td>
            <td>{{reading.period}}</td>
            <td>{{reading.value}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Поиск результатов не дал.</p>
    {% endif %}

    {% load crispy_forms_tags %}
    {% crispy form %}
  {% endif %}
{% endblock %}
