{% extends "subscriber-page.html" %}

{% block subscriber_tab_content %}
  {% if real_estate %}

    <style>
    #hh td {
      width: 110px;
      text-align: center;
    }

    #hh tr.date td {
      text-align: left;
    }

    #hh td:first-of-type {
      text-align: left;
      width: 150px;
    }
    </style>

    <table border="1" id="hh">
    {% for row in table %}
      {% if forloop.counter == 2 %}
      <tr class="date">
      {% else %}
      <tr>
      {% endif %}
      {% for cell in row %}
      <td{% if cell.length %} colspan="{{cell.length}}"{% endif %}>{{cell.name}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <br>
    <a href="{% url 'accounting:create_homeownership_event' %}?real_estate={{ real_estate.id }}" class="btn btn-primary" role="button">Добавить событие</a>

  {% endif %}

{% endblock %}
