{% extends "starter-template.html" %}

{% block page_content %}
<h3>О программе, в том числе начало работы с программой.</h3>
<p>Уважаемые клиенты!</p>
<p>Конечным результатом пользования программным продуктом является создание платежного документа в соответствии с постановлением Правительства Российской Федерации от 06 мая 2011 года № 354 и приказом Минрегиона РФ от 19.09.2011 №454.</p>
<p>После предоставления Вам логина и пароля, в течение месяца осуществляется подготовка базы данных, после чего будет предоставлена возможность вывода на печать платежных документов.</p>
<p>Преимущества пользования нашим программным продуктом заключаются в следующем:<br>
Мы предлагаем простой и удобный инструмент для ведения коммунальных услуг.<br>
Основные плюсы программы:
<ul>
  <li>Функциональность — Программа содержит все необходимые функции для ведения коммунальных услуг. Расчеты выполняются в полном соответствии с законодательством РФ.</li>
  <li>Простота и удобство — Программа разрабатывается в концепции: чем проще, тем лучше! Пользователи не читают, они смотрят — и то, что они видят должно быть понятным. Нашей целью является создание интуитивно понятного интерфейса, что сводит к минимуму время изучения программы, а работу с программой делает понятной и легкой в использовании.</li>
  <li>Сервис и обслуживание — обновления на многие другие продукты бесплатные, но установить их простые пользователи не могут, требуется приглашать специалистов. В этом моменте наш программный продукт намного предпочтительнее для пользователя. Обновления он делает самостоятельно, оперативно, через интернет. Здесь не лишним будет сказать о таком понятии, как цена владения. Чем сложнее программа, тем выше цена. Для установки и настройки нужен специалист, для обновления тоже, часто требуется новые компьютеры, обучающие курсы для персонала. Это всё цена владения.  Причем, специалисты не отличались доступностью, ни в плане цены, ни в плане очереди к ним. Мы же, в свою очередь, проводим бесплатные консультации, тесно сотрудничаем с нашими клиентами в целях улучшения качества продукта. В дополнение, мы предлагает информативный ресурс, разрабатываемый согласно актуальным вопросам для наших клиентов.</li>
  <li>Возможность попробовать — Пользователь должен протестировать, прежде чем купить. Мы предоставляем достаточно длительный период для тестирования и настройки программы.</li>
  <li>Компактность — Все данные программы хранятся на современных удаленных серверах. Поэтому наши пользователи не должны беспокоиться о том, хватит ли места для хранения всех данных.</li>
  <li>Кроссплатформенность — Использование сайта дает возможность использовать программу на разных ОС. К тому же, пользователь не привязан к конкретному рабочему месту, может использовать программу на любом устройстве (ПК, ноутбуке, планшете, мобильном устройстве), оборудованном выходом в интернет.</li>
  <li>Цена продукта — Идеальным соотношением всегда было отношение цены и качества продукта. Мы предлагаем простой и удобный инструмент с множеством дополнительных услуг за сравнительно небольшие деньги.</li>
</ul></p>
<h3>Коммерческое предложение.</h3>
<p>Уважаемые руководители ресурсоснабжающих организаций!</p>
<p>В соответствии с частью 2 статьи 155 Жилищного кодекса РФ плата за жилое помещение и коммунальные услуги вносится на основании платежных документов, предоставленных не позднее первого числа месяца следующего за истекшим месяцем.</p>
<p>Подпунктом «б» пункта 4 постановлением Правительства Российской Федерации от 06 мая 2011 года № 354 «О предоставления коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов» (далее Правила) поручено Министерству регионального развития  утвердить по согласованию с Федеральной службой по тарифам примерную форму платежного документа для внесения платы за содержание и ремонт жилого помещения и предоставление коммунальных услуг, а также методические рекомендации по ее заполнению.</p>
<p>В связи с чем, приказом Минрегиона РФ от 19.09.2011 №454 «Об утверждении примерной формы платежного документа для внесения платы за содержание и ремонт жилого помещения и предоставления коммунальных услуг и методических рекомендаций по ее заполнению» утверждена примерная форма платежного документа и методические рекомендации по ее заполнению.</p>
<p>Методические рекомендации включают в себя порядок заполнения платежного документа по разделам. Так в разделе 1 «Сведения о плательщике и исполнителе услуг» указываются обязательные сведения об исполнителе, в соответствии с подпунктом «б» пункта 69 Правил.</p>
<p>В соответствии со статьей 8 Закона РФ от 07.02.1992 №2300-1 «О защите прав потребителей» потребитель вправе потребовать предоставления необходимой и достоверной информации об изготовителе (исполнителе, продавце), режиме его работы и реализуемых им товарах (работах, услугах).</p>
<p>Неисполнение указанных требований закона может повлечь за собой нарушение конституционных прав граждан на получение информации предусмотренные частью 4 статьи 29 Конституции РФ, а также могут повлечь за собой нарушение прав потребителей, и может быть основанием для возбуждения дел об административном правонарушении за нарушение прав потребителей.</p>
<p>Кроме того хочу обратить Ваше внимание, что законом не предусмотрена обязанность распространения платежных документов, имеется лишь право исполнителя, предусмотренное подпунктом «е» пункта 32 Правил, согласно которого Вы можете привлечь подрядную организацию для целей распространения платежных документов. Но это является лишь Вашим правом, а не обязанностью. Однако, по требованию потребителя, а также контролирующего или надзорного органа Вы обязаны представить платежный документ, так как он является правовым основанием для взимания платы за предоставленные коммунальные услуги.</p>
<p>В связи со всеми вышеизложенными обстоятельствами, в целях соблюдения Вами жилищного законодательства, мы предлагаем Вам воспользоваться программным продуктом, принадлежащим компании ООО «ОргИнфо», посредством его использования через интернет-сайт оргинфо.рф.</p>
<p>Мы не берем денег за консультации, установку и обновление программы!</p>
<h3>Реквизиты ООО «ОргИнфо».</h3>
<p>
<address>
  <strong>Общество с ограниченной ответственностью «Информационная поддержка организаций» (ООО «ОргИнфо»)</strong><br>
  630108, г. Новосибирск Площадь Труда №1<br>
  <abbr title="Номер телефона">тел.:</abbr> 89232254648, 89137919909<br>
  <abbr title="Электронная почта">электронная почта:</abbr> ooo.orginfo@yandex.ru<br>
  <abbr title="ОГРН">ОГРН:</abbr> 1145476071960<br>
  <abbr title="ИНН">ИНН:</abbr> 5404514096<br>
  <abbr title="КПП">КПП:</abbr> 540401001<br>
  <abbr title="Номер банковского счета в банке НОВОСИБИРСКИЙ ФИЛИАЛ ОАО «МТС-БАНК»">Номер счета в банке НОВОСИБИРСКИЙ ФИЛИАЛ ОАО «МТС-БАНК»:</abbr> 30101810200000000847<br>
  <abbr title="К/С">К/С:</abbr> 30101810200000000847<br>
  <abbr title="БИК">БИК:</abbr> 045003847<br>
  <abbr title="Директор ООО «ОргИнфо»">Директор ООО «ОргИнфо»:</abbr> Гонгало Андрей Викентьевич<br>
</address>
</p>
{% endblock %}