{% extends "base.html" %}

{% block style %}
    <style type="text/css">
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
      <form method="post" action="{% url 'accounting:login' %}" class="form-signin" role="form">
      {% csrf_token %}
        <h2 class="form-signin-heading">Вход в личный кабинет</h2>
        {% if form.errors %}
        <p>Логин и пароль не соответствуют. Пожалуйста, попробуйте еще.</p>
        {% endif %}
        <input type="text" class="form-control" placeholder="Логин" required autofocus name="{{ form.username.html_name }}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
        <input type="password" class="form-control" placeholder="Пароль" required name="{{ form.password.html_name }}">
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
