{% extends "starter-template.html" %}

{% block container %}
{% load crispy_forms_tags %}
{% crispy form %}
{% if real_estates %}
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Адрес родительской недвижимости</th>
                <th>Дата установки счетчика холодного водоснабжения</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
        {% for real_estate in real_estates %}
            <tr>
                <td><a href="{% url "accounting:update_real_estate" real_estate.id %}">{{ real_estate.address }}</a></td>
                <td>{{ real_estate.parent|default:"-" }}</a></td>
                <td>{{ real_estate.cold_water_counter_setup_date|default:"-" }}</td>
                <td>{{ real_estate.get_type_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Нет внесенной недвижимости.</p>
{% endif %}
<a class="btn btn-primary btn-default" role="button" href="{% url "accounting:create_real_estate" %}">Создать</a>
{% endblock %}