{% extends "starter-template.html" %}

{% block container %}
{% load crispy_forms_tags %}
{% crispy form %}
{% if real_estates %}
    <h2>real_estates</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Address</th>
                <th>Parent</th>
                <th>Cold water counter setup date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for real_estate in real_estates %}
            <tr>
                <td>{{ real_estate.address }}</td>
                <td>{{ real_estate.parent|default:"-" }}</a></td>
                <td>{{ real_estate.cold_water_counter_setup_date|default:"-" }}</td>
                <td>{{ real_estate.get_type_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No real estates are available.</p>
{% endif %}
<a class="btn btn-primary btn-default" role="button" href="{% url "accounting:add_real_estate" %}">Create</a>
{% endblock %}