{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>Раздел 1. Сведения о плательщике и исполнителе услуг</strong></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-9">
              за <span style="text-decoration: underline">{{calc_period_name}}</span> (расчетный период)
            </div>
            <div class="col-md-9">
              Ф.И.О. (наименование) плательщика соственника/нанимателя <span style="text-decoration: underline">{{owner}}</span>
            </div>
            <div class="col-md-9">
              Адрес помещения <span style="text-decoration: underline">{{client_address}}</span>
            </div>
            <div class="col-md-9">
              Площадь помещения: <span style="text-decoration: underline">{{space}}</span> кв. м Количество проживающих <span style="text-decoration: underline">{{residents}}</span> чел.
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              Наименование организации или Ф.И.О. индивидуального предпринимателя - исполнителя услуг <span style="text-decoration: underline">{{organization_name}}</span>
            </div>
            <div class="col-md-9">
              Адрес <span style="text-decoration: underline">{{organization_address}}</span>
            </div>
            <div class="col-md-9">
              Адрес <span style="text-decoration: underline">{{last_payment.real_estate.address}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Раздел 2. <strong>Информация для внесения платы получателю платежа (получателям платежей)</strong></div>
  <div class="panel-body">
    <div class="container-fluid">


<table border="1">
<tbody>
<tr>
<td>Наименование получателя платежа</td>
<td>Номер банковского счета<br />и банковские реквизиты</td>
<td>№ лицевого счета (иной идентификатор плательщика)</td>
<td>Виды услуг</td>
<td>Сумма к оплате за расчетный период,руб.</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="5">
<p>Cправочно:<br /> Задолженность за предыдущие периоды <span style="text-decoration: underline;">(TODO)</span><br /> Аванс на начало расчетного периода <span style="text-decoration: underline;">(TODO)</span><br /> (учтены платежи, поступившие до 25 числа расчетного периода включительно)<br /> Дата последней поступившей оплаты <span style="text-decoration: underline;">(TODO)</span><br /> Итого к оплате <span style="text-decoration: underline;">(TODO)</span> руб.</p>
</td>
</tr>
</tbody>
</table>


    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Раздел 3. <strong>Расчет размера платы за содержание и ремонт жилого помещения и коммунальные услуги</strong></div>
  <div class="panel-body">
    <div class="container-fluid">

<table border="1">
<tbody>
<tr>
<td rowspan="3">Виды услуг  </td>
<td rowspan="3">Ед. изм.  </td>
<td colspan="2">Объем коммун.<br />услуг *</td>
<td rowspan="3">
<p>Тариф руб./ед. изм. Размер платы на кв. м, руб.  </p>
</td>
<td colspan="2">Размер платы за ком. услуги, руб. </td>
<td rowspan="3">Всего на- числено за расчет- ный период, руб. </td>
<td rowspan="3">Пере-расче-ты всего, руб. </td>
<td rowspan="3">Льготы, субси-дии,<br />руб. </td>
<td colspan="3"> Итого к оплате за расчетный период, руб.  </td>
</tr>
<tr>
<td rowspan="2">индив.<br />потребл. </td>
<td rowspan="2">общедом.<br />нужды </td>
<td rowspan="2">индив. потреб. </td>
<td rowspan="2">общед. нужды </td>
<td rowspan="2">всего </td>
<td colspan="2">в т.ч. за ком. усл. </td>
</tr>
<tr>
<td> инд. потребл.</td>
<td>общед. нужды</td>
</tr>
<tr>
<td> 1</td>
<td> 2</td>
<td> 3</td>
<td> 4</td>
<td> 5</td>
<td> 6</td>
<td> 7</td>
<td> 8</td>
<td> 9</td>
<td> 10</td>
<td> 11</td>
<td> 12</td>
<td> 13</td>
</tr>
<tr>
<td colspan="12">Коммунальные услуги           </td>
<td> </td>
</tr>
<tr>
<td> Холодное водоснабжение</td>
<td> куб. м</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="10"> Итого к оплате за расчетный период         </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>

    </div>
  </div>
</div>
<style type="text/css" media="print">
body { font-size: 8pt; }
.container-fluid, .panel-heading, .panel-body { padding: 0px; }
</style>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    //print();
});
</script>
{% endblock %}

