{% extends "subscriber-page.html" %}

{% block subscriber_tab_content %}
  {% if real_estate %}
    <ul class="nav nav-pills">
      {% url 'accounting:accounts' as l2accounts %}
      <li{% if request.path == l2accounts %} role="presentation" class="active"{% endif %}><a href="{% url 'accounting:accounts' %}?real_estate={{real_estate.id}}">Операции со счётом</a></li>
      {% url 'accounting:readings' as l2readings %}
      {% if is_there_counter %}
      <li{% if request.path == l2readings %} role="presentation" class="active"{% endif %}><a href="{% url 'accounting:readings' %}?real_estate={{real_estate.id}}">Показания счётчиков</a></li>
      {% endif %}
    </ul>
    <br>
    {% if accounts %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Период</th>
            <th>Баланс</th>
            <th>Операции</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
          <tr>
            <td>{{ account.period.name }}</td>
            <td>{{ account.balance }}</td>
            <td>
            {% for operation in account.operations %}
              <span style="{% if operation.operation_type == operation.WRITE_OFF %}color: red; {% else %}color: green; {% endif %}white-space:nowrap;">{{operation.amount }} {{ operation.operation_date }}</span><br>
            {% endfor %}
            </td>
            <td><a href="{% url 'accounting:report' %}?period={{ account.period.id }}&real_estate={{ real_estate.id }}">платёжный документ</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'accounting:add_payment' %}?real_estate={{ real_estate.id }}" class="btn btn-primary" role="button">Добавить платёж</a>
    {% else %}
      <p>Поиск результатов не дал.</p>
    {% endif %}
  {% endif %}

{% endblock %}
