{% extends "starter-template.html" %}

{% block container %}
<ul class="nav nav-tabs" role="tablist">
  {% url "accounting:readings" real_estate_id as l2readings %}
  <li{% if request.get_full_path == l2readings %} class="active"{% endif %}><a href="{{ l2readings }}">Readings</a></li>
  {% url "accounting:client_update" client_id as l2client %}
  <li{% if request.get_full_path == l2client %} class="active"{% endif %}><a href="{{ l2client }}">Client</a></li>
  {% url "accounting:service_usages" real_estate_id as l2services %}
  <li{% if request.get_full_path == l2services %} class="active"{% endif %}><a href="{{ l2services }}">Подключенные услуги</a></li>
  {% url "accounting:take_payment" client_id as l2payment %}
  <li{% if request.get_full_path == l2payment %} class="active"{% endif %}><a href="{{ l2payment }}">Payment</a></li>
</ul>
<br />
{% if services %}
    <h2>services</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Дата подключения</th>
                <th>Дата отключения</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{% url "accounting:service_usage" real_estate_id service.id %}">{{ service.get_service_name_display }}</a></td>
                <td>{{ service.start }}</td>
                <td>{{ service.end|default:"-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No services are available.</p>
{% endif %}
<a class="btn btn-primary btn-default" role="button" href="{% url "accounting:create_service_usage" real_estate_id %}">Create</a>
{% endblock %}